header {
  display: flex;
  flex-direction: column;
}
#logo {
  border-bottom: 2px solid black;
}
#menu-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu > ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
}
